<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thisisnotajoke.wearatron.mobile" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".MobileApplication"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:backupAgent="com.thisisnotajoke.lockitron.model.PreferenceManagerBackupAgent">
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIEcu9RKolVTQJDo6wrO2wepHMC6Pg5sgOnqtaqA" />
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name=".controller.AuthActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.MainActivity"
            android:label="@string/app_name">
        </activity>

        <service android:name=".controller.MobileListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1890e6b2be9fa99058ac8c0e0a465a703f393a9c" />
    </application>

</manifest>
