<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thisisnotajoke.lockitron.glass">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">
        <activity android:name=".ConfigurationActivity"
            android:exported="true"
            android:label="@string/configure_activity"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/my_door" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".UnlockService"
            android:exported="true"
            android:label="@string/unlock_service"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/my_door" />
        </service>

        <service
            android:name=".LockService"
            android:exported="true"
            android:label="@string/lock_service"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/my_door" />
        </service>

        <receiver android:name=".DoorWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/door_appwidget_info" />
        </receiver>
    </application>

</manifest>
